.form-actions
  = form.button :submit, class: "btn btn-primary", id: "commit"
  = link_to t(".cancel"), [ :admin, :projects ], class: "btn", id: "cancel"
  - if form.object.persisted?
    = link_to t(".delete"), [ :admin, project ], class: "btn btn-danger", data: { method: "delete", confirm: "Deleting the project." }, id: "delete"
