//
// This class deals purely with styling the flash messages contained in the
// .flashes container.
//

.flashes
  margin-top: 40px // Bootstrap nav fix
  min-height: 60px

  .alert
    padding-top: 20px
    margin: 0
    font-size: 20px
    font-weight: 700

    &.alert-success
      background-color: hsl(143, 50%, 40%)
      background-repeat: repeat-x
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#38a863", endColorstr="#32995a")
      background-image: -khtml-gradient(linear, left top, left bottom, from(#38a863), to(#32995a))
      background-image: -moz-linear-gradient(top, #38a863, #32995a)
      background-image: -ms-linear-gradient(top, #38a863, #32995a)
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #38a863), color-stop(100%, #32995a))
      background-image: -webkit-linear-gradient(top, #38a863, #32995a)
      background-image: -o-linear-gradient(top, #38a863, #32995a)
      background-image: linear-gradient(#38a863, #32995a)
      border-color: #32995a #32995a hsl(143, 50%, 39%)
      color: #fff
      text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.06)
      -webkit-font-smoothing: antialiased
