%header
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        = link_to "/", class: "brand" do
          Kampp Media

        / Button to display content < 940px
        %a{ class: "btn btn-navbar",           |
            "data-toggle" => "collapse",       |
            "data-target" => ".nav-collapse" } |
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar

        / Hidden when < 940px
        .nav-collapse.collapse
          %ul.nav
            = yield :menu
          %ul.nav.pull-right
            %li= render "user/profile_picture"

= render "layouts/flashes"
